<%= form_with(model: @meeting, local: true) do |form| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :meeting_title %>
  </div>

  <div class="field">
    <%= form.label :length %>
    <%= form.text_field :length, id: :meeting_length %>
  </div>

  <div class="field">
    <%= form.label :leader %>
    <%= form.text_field :leader, id: :meeting_leader %>
  </div>

  <div class="actions">
    <%= form.submit :class => "button" %>
  </div>
<% end %>
