<p id="notice"><%= notice %></p>

<div>
  <h1>Meetings</h1>
  <%= button_to 'Create New Meeting', new_meeting_path, method: :get %>
</div>

<div>
  <% if @meetings.any? %>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Length</th>
          <th>Leader</th>
          <th>Created At</th>
        </tr>
      </thead>

      <tbody>
        <% @meetings.each do |meeting| %>
          <tr id=<%= meeting.id %>>
            <td><%= link_to meeting.title, meeting %></td>
            <td><%= meeting.length %></td>
            <td><%= meeting.leader %></td>
            <td><%= meeting.created_at.strftime("%B %d, %Y; %l:%M%p") %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h2>No meetings!</h2>
  <% end %>
</div>
