<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Meeting Length:</strong>
  <%= @meeting.length %>
</p>

<p>
  <strong>Leader:</strong>
  <%= @meeting.leader %>
</p>
